body{
font-family:Arial;
margin:0;
background:#f2f2f2;
text-align:center;
}

nav{
background:black;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
background:#333;
color:white;
padding:60px;
}

.grid{
display:flex;
justify-content:center;
gap:20px;
margin:40px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

.form-box{
width:300px;
margin:100px auto;
background:white;
padding:20px;
border-radius:10px;
}

input, textarea{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:blue;
color:white;
border:none;
}
